:root {
  --color: white;
  --background-color-h: #7d0a0a;
  --background-color-f: #bf3131;
  --background-color-n: #f99b7d;
}

body {
  background-color: #f4f2f3;
  margin: 6px;
}

nav {
  background-color: var(--background-color-n);
  border-style: none;
  margin: 8px;
  padding: 18px;
  transition: all 0.5s;
  position: sticky;
  top: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: maroon;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: lightcoral;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid maroon;
  border-bottom: 1px solid black;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}
#check {
  display: none;
}
label #btn.label #cancel {
  position: absolute;
  cursor: pointer;
  background: black;
  border-radius: 3px;
}
label #btn {
  left: 40px;
  top: 25%;
  font-size: 35px;
  color: pink;
  padding: 6px 12px;
  transition: all 0.5s;
}
#cancel {
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 30px;
  color: maroon;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}
#check:checked ~ section {
  margin-left: 250px;
}
section {
  /* background: url(../IMAGES/bg1.jpg) no-repeat; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s;
}

.fa-basket-shopping {
  font-size: 18px;
  margin-right: 38px;
  color: rgb(104, 0, 0);
}
.fa-search {
  display: inline;
  font-size: 10px;
  margin-left: 785px;
  margin-right: 0%;
  color: rgb(104, 0, 0);
}
#bg1 {
  margin: 6px;
}
header {
  background-color: var(--background-color-h);
  color: var(--color);
  padding: 12px;
  margin: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-style: none;
  text-align: center;
  transition: all 0.5s;
}
#l1:link,
#l1:visited {
  background-color: var(--background-color-n);
  text-align: center;
  text-decoration: none;
  padding: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: var(--color);
}
#l1:hover,
#l1:active {
  background-color: var(--background-color-h);
  color: white;
}
.home {
  margin-left: 0.6%;
  padding-right: 0.6%;
}

div.img {
  display: inline-block;
  margin: 1px;
  width: 19.5%;
  background-color: var(--color);

  margin-bottom: 25px;
}
div.txt {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--background-color-h);
  color: white;
}
#h2:hover,
#h2:active {
  box-shadow: 0 4px 8px 0 var(--background-color-h),
    0 6px 20px 0 var(--background-color-n);
  color: var(--background-color-n);
}
#h3 {
  background-color: var(--background-color-n);
  color: white;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 0px;
  margin-bottom: 8px;
  padding: 17px;
  font-variant: small-caps;
  margin-bottom: 0px;
  padding-left: 2px;
}
.im1 {
  margin: 0px;
  padding: px;
}

#h4 {
  background-color: var(--background-color-h);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 17px;
  font-size: larger;
  color: white;
  text-transform: lowercase;
}
.f1 {
  background-color: var(--background-color-n);
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 8px;
  margin-right: 0px;
  padding: 16px;
  color: white;
  margin-bottom: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  background-color: var(--background-color-f);
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
#all-brands {
  margin-left: 998px;
}
footer {
  background-color: var(--background-color-f);
  padding: 50px 0;
  padding-bottom: 0px;
}

.fc {
  width: 25%;
  padding: 0 15px;
  padding-bottom: 50px;
}
.fc h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.fc h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(255, 255, 255);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  width: 100px;
  height: 5px;
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
}
.fc ul li:not(:last-child) {
  margin-bottom: 10px;
}
.fc ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
.footer ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
#cr {
  background-color: var(--background-color-h);
  text-align: left;
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 8px;
  margin-right: 0px;
  padding: 16px;
  color: white;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--background-color-n);
  margin-bottom: 50px;
  background-color: var(--background-color-h);
  padding-bottom: 1px;
  color: #f99b7d;
  padding-left: 3px;
  padding: 3px;
  margin-right: 0px;
}
.btn {
  background-color: var(--background-color-h);
  color: var(--background-color-h);
}
form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}
#in1 {
  width: 100%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}
form button .fa-solid fa-arrow-right {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--background-color-n);
  padding: 4px;
}
.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: var(--background-color-h);
  background: var(--background-color-n);
  margin-right: 15px;
  cursor: pointer;
}
.underline {
  width: 100px;
  height: 5px;
  background-color: var(--background-color-h);
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
}
.underline span {
  width: 15px;
  height: 100%;
  background-color: var(--background-color-n);
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    right: -20px;
  }
  0% {
    right: 100%;
  }
}
.li1 {
  margin-left: 0px;
  padding: 10px;
  padding-left: 0px;
  background-color: var(--background-color-h);

  list-style: none;
  position: sticky;
  top: 0;
  /* margin-left: 20%; */
  color: var(--color);
  /* margin-left: 0px; */
}
.li2 {
  /* margin-top: 1px;
  padding: 8px;
  padding-top: 4px; */
  text-decoration: none;
  color: var(--color);
  margin: 3px;
  padding-left: 100px;
}
.li {
  display: inline-block;
  padding-left: -15px;
}
.li2:link,
.li2:visited {
  background-color: var(--background-color-h);
  text-align: center;
  text-decoration: none;
  /* padding: 9px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-size: larger;
  font-weight: bolder; */
  color: var(--color);
  padding-left: 0px;
  padding-right: 0px;
}
.li2:hover,
.li2:active {
  background-color: var(--background-color-f);
  color: white;
  padding: 10px;
}
#tr:hover {
  padding-left: 3px;
}
/* sliding img */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  justify-self: center;
  align-items: center;
  background: var(--color);
}
.section {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 1%;
  margin-right: 1%;
}
.slider {
  width: 1400px;
  height: 800px;
  border-radius: 0px;
  overflow: hidden;
}
.slide {
  width: 500%;
  height: 800px;
  display: flex;
}
.slide input {
  display: none;
}
.st {
  width: 20%;
  transition: 2s;
}
.st img {
  width: 1500px;
  height: 98%;
}
.nav-m {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;
  margin-left: 20%;
}
.m-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child) {
  margin-right: 30px;
}
.m-btn:hover {
  background-color: maroon;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
/* .nav-auto {
  position: absolute;
  width: 1400px;
  margin-top: 760px;
  display: flex;
  justify-content: center;
} */
.nav-auto div {
  border: 2px solid rgb(249, 249, 249);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.nav-auto div:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto.a-b1 {
  background-color: maroon;
}
#radio2:checked ~ .nav-auto.a-b2 {
  background-color: maroon;
}
#radio3:checked ~ .nav-auto.a-b3 {
  background-color: maroon;
}
#radio4:checked ~ .nav-auto.a-b4 {
  background-color: maroon;
}
#radio5:checked ~ .nav-auto.a-b5 {
  background-color: maroon;
}
