:root {
  --color: white;
  --background-color-h: #7d0a0a;
  --background-color-f: #bf3131;
  --background-color-n: #f99b7d;
}
body {
  background-color: bisque;
}
header {
  background-color: var(--background-color-h);
  color: white;
  padding: 18px;
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-style: none;
  text-align: center;
  margin-bottom: 8px;
  position: sticky;
  top: 0;
}
